<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Adding a Custom Overlay</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/maps-core.css">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPfZIoA99x-J8KVotKkSzHiUMfl0ycZrg"></script>
    <script async defer src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="javascripts/maps-core.js"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

  </head>
  <body>

    <%- body %>

  <script src="javascripts/ThePusherMagic.js"></script>
  </body>
</html>